![image4](Image/cragslist.jpg)

# **Problem Statement**

Buying a car is never an easy task, especially when buying a used one. So many different factors go into determining the price of a vehicle that itâ€™s difficult to accurately predict what one should be paying. Aside from this there are some parts of the country where used car sales are few and far between and the prices are not so desirable. 
Using scraped dataset of used car for sales from craigslist and to clarify some of these unknown variables and provide an easier experience for those searching for a car. To solve this we need an array of strategies to predict the price of the used car as accurate as possible.

# Import Data

The data for this project is obtain from kaggle datasets, it consists over 450000 entries and it's a listing on craigslist from October to December of 2020 used cars sales.<br>
The data is available on kaggle- https://www.kaggle.com/austinreese/craigslist-carstrucks-data?

This data is originally scraped by Austin Reese, it contains most all relevant information that<br> Craigslist provides on car sales including columns like price, condition, manufacturer, latitude/longitude, and 18 other categories.

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
#loading the data into dataframe using pandas
cars_df= pd.read_csv("vehicles.csv")

In [3]:
#checking the size of data
cars_df.shape

(458213, 26)

In [4]:
#checking the columns of data
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458213 entries, 0 to 458212
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    458213 non-null  int64
 1   id            458213 non-null  int64
 2   url           458213 non-null  object
 3   region        458213 non-null  object
 4   region_url    458213 non-null  object
 5   price         458213 non-null  int64
 6   year          457163 non-null  float64
 7   manufacturer  439993 non-null  object
 8   model         453367 non-null  object
 9   condition     265273 non-null  object
 10  cylinders     287073 non-null  object
 11  fuel          454976 non-null  object
 12  odometer      402910 non-null  float64
 13  title_status  455636 non-null  object
 14  transmission  455771 non-null  object
 15  VIN           270664 non-null  object
 16  drive         324025 non-null  object
 17  size          136865 non-null  object
 18  type          345475 non-null  object
 19  paint_color   317370 non-null  object
 20  image_url     458185 non-null  object
 21  description   458143 non-null  object
 22  state         458213 non-null  object
 23  lat           450765 non-null  float64
 24  long          450765 non-null  float64
 25  posting_date  458185 non-null  object
dtypes: float64(4), int64(3), object(19)
memory usage: 90.9+ MB

Our dataset contains over 450000 used vehicle sales  entries from Craigslist.org

The columns are as follows:

- **id** -   Unique identification number
- **url** -  Listing URL
- **region** - Craigslist region
- **region** - Region listing URL
- **price** - Listing price
- **year** -  Year of manufacturing
- **manufacturer** -  Manufacturing company
- **model** - Model of vehicle
- **condition** - Condition of vehicle
- **cylinders** - Number of cylinders
- **fuel** - String - Type of fuel required
- **odometer** - Miles traveled
- **title_status** - Vehicle title status/existence
- **transmission** - Transmission of vehicle
- **drive** -  Drive of vehicle
- **size** - Size of vehicle
- **type** - Type of vehicle
- **paint_color** - Color of vehicle
- **image_url** - Image URL
- **description** - Description about the sale
- **state** - 2 letter state abbreviation
- **latitude** - Latitude of listing
- **longitude** - Integer - Longitude of listing
- **posting_date** - Posting Date of the sale<br>
The dataset has 7 continuous columns (float and int type) and 19  catergorical columns (object type).

In [5]:
#printing the 2 rows of datasets
cars_df.head(2)

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,0,7240372487,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,35990,2010.0,chevrolet,corvette grand sport,good,8 cylinders,gas,32742.0,clean,other,1G1YU3DW1A5106980,rwd,NaN,other,NaN,https://images.craigslist.org/00N0N_ipkbHVZYf4...,Carvana is the safer way to buy a car During t...,al,32.5900,-85.4800,2020-12-02T08:11:30-0600
1,1,7240309422,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,7500,2014.0,hyundai,sonata,excellent,4 cylinders,gas,93600.0,clean,automatic,5NPEC4AB0EH813529,fwd,NaN,sedan,NaN,https://images.craigslist.org/00s0s_gBHYmJ5o7y...,I'll move to another city and try to sell my c...,al,32.5475,-85.4682,2020-12-02T02:11:50-0600

# Scrub (Data Preparation)

Understanding and Fixing the datatypes including Catergorical and Continuous columns. Identifying and dealing with the missing data.

# **Missing Values**

In [9]:
#checking Null values
cars_df.isna().sum()

Unnamed: 0           0
id                   0
url                  0
region               0
region_url           0
price                0
year              1050
manufacturer     18220
model             4846
condition       192940
cylinders       171140
fuel              3237
odometer         55303
title_status      2577
transmission      2442
VIN             187549
drive           134188
size            321348
type            112738
paint_color     140843
image_url           28
description         70
state                0
lat               7448
long              7448
posting_date        28
dtype: int64

**odometer**

observing missing values in the column 'odometer', to  handle the nullvalues need to find out the median of the each year cars odometer reading and fill the median value of each year in the missing value.

In [10]:
# finding the median odometer of each year cars
year_med =  dict(cars_df.groupby('year')['odometer'].median())
year_med

{1900.0: 1.0,
 1910.0: nan,
 1911.0: 0.0,
 1912.0: 15.0,
 1913.0: 93000.0,
 1914.0: nan,
 1915.0: nan,
 1918.0: nan,
 1919.0: nan,
 1920.0: nan,
 1921.0: nan,
 1922.0: nan,
 1923.0: 3750.0,
 1924.0: 1100.0,
 1925.0: 1000.0,
 1926.0: 2055.0,
 1927.0: 1000.0,
 1928.0: 1500.0,
 1929.0: 1100.0,
 1930.0: 1077.0,
 1931.0: 5722.0,
 1932.0: 1500.0,
 1933.0: 4300.0,
 1934.0: 16000.0,
 1935.0: 2450.0,
 1936.0: 42623.0,
 1937.0: 2555.0,
 1938.0: 2700.0,
 1939.0: 16672.5,
 1940.0: 1000.0,
 1941.0: 36921.0,
 1942.0: 48500.0,
 1943.0: nan,
 1945.0: nan,
 1946.0: 79087.0,
 1947.0: 45000.0,
 1948.0: 10172.5,
 1949.0: 51000.0,
 1950.0: 31000.0,
 1951.0: 37430.0,
 1952.0: 42500.0,
 1953.0: 47063.0,
 1954.0: 65636.0,
 1955.0: 21388.5,
 1956.0: 39917.5,
 1957.0: 25058.0,
 1958.0: 58000.0,
 1959.0: 60852.5,
 1960.0: 49000.0,
 1961.0: 45500.0,
 1962.0: 43000.0,
 1963.0: 55350.5,
 1964.0: 51000.0,
 1965.0: 55000.0,
 1966.0: 47000.0,
 1967.0: 55597.0,
 1968.0: 51232.0,
 1969.0: 50375.0,
 1970.0: 50658.0,
 1971.0: 66000.0,
 1972.0: 52000.0,
 1973.0: 63667.0,
 1974.0: 65034.0,
 1975.0: 75968.5,
 1976.0: 55000.0,
 1977.0: 73865.0,
 1978.0: 79000.0,
 1979.0: 73000.0,
 1980.0: 68800.0,
 1981.0: 82000.0,
 1982.0: 96300.0,
 1983.0: 98885.5,
 1984.0: 88857.0,
 1985.0: 95330.5,
 1986.0: 93000.0,
 1987.0: 95500.0,
 1988.0: 109555.0,
 1989.0: 107222.5,
 1990.0: 121000.0,
 1991.0: 122150.0,
 1992.0: 129000.0,
 1993.0: 142888.0,
 1994.0: 152000.0,
 1995.0: 147000.0,
 1996.0: 156584.5,
 1997.0: 154533.5,
 1998.0: 159970.0,
 1999.0: 157000.0,
 2000.0: 155737.0,
 2001.0: 158505.0,
 2002.0: 154000.0,
 2003.0: 156000.0,
 2004.0: 151000.0,
 2005.0: 150200.0,
 2006.0: 145000.0,
 2007.0: 142790.0,
 2008.0: 135000.0,
 2009.0: 128269.0,
 2010.0: 122362.0,
 2011.0: 116657.0,
 2012.0: 102268.0,
 2013.0: 94000.0,
 2014.0: 84049.0,
 2015.0: 76734.0,
 2016.0: 60500.0,
 2017.0: 40509.0,
 2018.0: 31753.0,
 2019.0: 19701.0,
 2020.0: 8272.0,
 2021.0: 8.0}

**Replacing null values of column 'odometer with the median value of each year of the car**

In [11]:
#inputing the median odometer values of the year with missing values in odometer
cars_df['odometer'] = cars_df['odometer'].fillna(cars_df['year'].apply(lambda x: year_med.get(x)))

**dropping the columns which are inconclusive**

In [12]:
#dropping the columns which are inconclusive
# df=df.drop(columns=["Unnamed: 0","id","url","region_url","image_url","description",
#                     "State","State Code","VIN"],axis=1)

**dropping the row missing values of the columns of the dataframe**

In [13]:
#Dropping the null values of the columns in the list
cars_df = cars_df.dropna(subset=['year', 'manufacturer','model','fuel','odometer','title_status'])

In [14]:
cars_df.shape

(431209, 26)

In [15]:
#Function for value_counts of columns
# for col in df.columns:
#     print(col)
#     print(df[col].value_counts())
#     print("-------------------------------------------------------------")

**condition**<br>
Filling the null values with 'unknown' and replacing the 'like new' value with 'excellent' in the column 'conditon'

In [16]:
print(cars_df['condition'].value_counts())
#filling nullvalues with missing in condition column
cars_df.condition.fillna("unknown", inplace=True)
cars_df['condition'] = cars_df['condition'].replace({'like new':'excellent'})
print('______________________________________________')
cars_df['condition'].value_counts()

good         110315
excellent    110211
like new      23422
fair           6961
new            1188
salvage         588
Name: condition, dtype: int64
______________________________________________

unknown      178524
excellent    133633
good         110315
fair           6961
new            1188
salvage         588
Name: condition, dtype: int64

**cylinder**<br>Filling null values with '0', changing the tesla to '0', replacing 'other' with '0' and also replacing the values like
'6 cylinders' with '6'.. in the column.

In [17]:
print(cars_df['cylinders'].value_counts())
# Changing cylinders of tesla cars to 0
cars_df.loc[cars_df.manufacturer == 'tesla', 'cylinders'] = 0
cars_df.cylinders.fillna(0, inplace = True)
cars_df.cylinders =  cars_df.cylinders.replace('other', 0)


cars_df['cylinders'] = cars_df['cylinders'].replace({'6 cylinders':'6', '4 cylinders':'4',
                                          '8 cylinders':'8','5 cylinders':'5',
                                          '10 cylinders':'10','3 cylinders':'3',
                                          '12 cylinders':'12'})
print('______________________________________________')
cars_df['cylinders'].value_counts()

6 cylinders     101365
4 cylinders      90662
8 cylinders      76803
5 cylinders       1858
10 cylinders      1466
other              733
3 cylinders        398
12 cylinders        98
Name: cylinders, dtype: int64
______________________________________________

0     158583
6     101364
4      90647
8      76801
5       1858
10      1460
3        398
12        98
Name: cylinders, dtype: int64

In [18]:
#renaming the value 'parts only' to 'partsonly' in the column 'title_sstatus'
print(cars_df['title_status'].value_counts())
cars_df['title_status'] = cars_df['title_status'].replace({'parts only':'partsonly'})
print('______________________________________________')
cars_df['title_status'].value_counts()

clean         416308
rebuilt         8297
salvage         3957
lien            1977
missing          528
parts only       142
Name: title_status, dtype: int64
______________________________________________

clean        416308
rebuilt        8297
salvage        3957
lien           1977
missing         528
partsonly       142
Name: title_status, dtype: int64

**transmission**<br>
Filling the null values with 'other' in the column

In [19]:
print(cars_df['transmission'].value_counts())
cars_df['transmission'].fillna('other', inplace = True)
print('______________________________________________')
cars_df['transmission'].value_counts()

automatic    375760
other         30375
manual        23557
Name: transmission, dtype: int64
______________________________________________

automatic    375760
other         31892
manual        23557
Name: transmission, dtype: int64

**drive & size** <br>Filling the  null values with 'unknown' in the column.

In [20]:
#filling the nullvalues
print(cars_df['drive'].value_counts())
cars_df['drive'].fillna('unknown', inplace = True)
print('______________________________________________')
cars_df['drive'].value_counts()

4wd    135195
fwd    117956
rwd     55973
Name: drive, dtype: int64
______________________________________________

4wd        135195
unknown    122085
fwd        117956
rwd         55973
Name: drive, dtype: int64

In [21]:
print(cars_df['size'].value_counts())
cars_df['size'].fillna('unknown', inplace = True)
cars_df['size'] = cars_df['size'].replace({'full-size':'full','mid-size':'mid',
                                'sub-compact' : 'subcompact'})
print('______________________________________________')
cars_df['size'].value_counts()

full-size      65574
mid-size       40317
compact        20767
sub-compact     3327
Name: size, dtype: int64
______________________________________________

unknown       301224
full           65574
mid            40317
compact        20767
subcompact      3327
Name: size, dtype: int64

**type**<br>Filling the null values with 'other' in the column

In [22]:
print(cars_df['type'].value_counts())
cars_df['type'].fillna('other', inplace = True)
cars_df['type']= cars_df['type'].replace({"mini-van":"minivan"})
print('______________________________________________')
cars_df['type'].value_counts()

sedan          89364
SUV            77249
pickup         41468
truck          32966
other          22640
coupe          17697
hatchback      15726
wagon          10168
van             9159
convertible     6222
mini-van        6084
offroad          568
bus              424
Name: type, dtype: int64
______________________________________________

other          124114
sedan           89364
SUV             77249
pickup          41468
truck           32966
coupe           17697
hatchback       15726
wagon           10168
van              9159
convertible      6222
minivan          6084
offroad           568
bus               424
Name: type, dtype: int64

In [23]:
#renaming the values in the manufacturer
cars_df['manufacturer'] = cars_df['manufacturer'].replace({'land rover':'landrover',
                                                'harley-davidson':'harley',
                                                'alfa-romeo': 'alfaromeo',
                                                'aston-martin':'astonmartin',
                                                'mercedes-benz':'mercedes'})

In [24]:
#cars_ df['posting_date'].value_counts()

In [25]:
#converting the posting date to date type
from datetime import datetime
cars_df['posting_date'] = pd.to_datetime(cars_df['posting_date'])

Converted the posting_date of the vehicle sales from object to datetype. Adding columns posting_year and posting_month to dataframe <br>using the lambda function.Also adding the column age of vehicle by finding the difference between the year manufactured with the posting_year.

In [26]:
#adding column posting_year, posting_month and age of the vehicle to dataframe
cars_df['posting_year']= cars_df['posting_date'].apply(lambda x: x.year)
cars_df['posting_month']= cars_df['posting_date'].apply(lambda x: x.month)
cars_df['age'] = cars_df['posting_year']-cars_df['year']

In [27]:
#printing the unique value of posting year and posting month
print(cars_df['posting_year'].unique())
cars_df['posting_month'].unique()

[2020]

array([12, 11, 10], dtype=int64)

The data available in the dataframe is from last 3 month of 2020.

In [28]:
cars_df.head(2)

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date,posting_year,posting_month,age
0,0,7240372487,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,35990,2010.0,chevrolet,corvette grand sport,good,8,gas,32742.0,clean,other,1G1YU3DW1A5106980,rwd,unknown,other,NaN,https://images.craigslist.org/00N0N_ipkbHVZYf4...,Carvana is the safer way to buy a car During t...,al,32.5900,-85.4800,2020-12-02 08:11:30-06:00,2020,12,10.0
1,1,7240309422,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,7500,2014.0,hyundai,sonata,excellent,4,gas,93600.0,clean,automatic,5NPEC4AB0EH813529,fwd,unknown,sedan,NaN,https://images.craigslist.org/00s0s_gBHYmJ5o7y...,I'll move to another city and try to sell my c...,al,32.5475,-85.4682,2020-12-02 02:11:50-06:00,2020,12,6.0

# Binning

Loading the states dataset and merging with the cars dataframe. In order to perform binning on the state columns which  has 52 <br>categorical values to reduce the input variables when modeling the data by using division rather than state.

In [29]:
# Loading the states dataframe
states_df = pd.read_csv("states.csv")
states_df.head()

        State State Code Region            Division
0      Alaska         AK   West             Pacific
1     Alabama         AL  South  East South Central
2    Arkansas         AR  South  West South Central
3     Arizona         AZ   West            Mountain
4  California         CA   West             Pacific

In [30]:
#converting state code column to lower case string
states_df['State Code'] = states_df['State Code'] . str.lower()
states_df.head(2)

     State State Code Region            Division
0   Alaska         ak   West             Pacific
1  Alabama         al  South  East South Central

In [31]:
#merging the dataframes
df = cars_df.merge(states_df, left_on= 'state', right_on= 'State Code')

**Dropping the columns which are inconclusive**

In [33]:
#dropping the columns which are inconclusive
df=df.drop(columns=["Unnamed: 0","id","url","region_url","image_url","description",
                    "State","State Code","VIN"],axis=1)

In [34]:
df.isna().sum()

region                0
price                 0
year                  0
manufacturer          0
model                 0
condition             0
cylinders             0
fuel                  0
odometer              0
title_status          0
transmission          0
drive                 0
size                  0
type                  0
paint_color      129401
state                 0
lat                6890
long               6890
posting_date          0
posting_year          0
posting_month         0
age                   0
Region                0
Division              0
dtype: int64

In [35]:
#saving and converting the cleaned dataframe to csv file
df.to_csv('craiglist_cleaned_data')